.header{
    height: 20px;
    background-color: #6bc1e9;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    .header-btn{
        background-color: #6bc1e9;
        border: none;
        cursor: pointer;
    }

  
}
.footer{
    // margin-top: 50vh;
    height: 20px;
    position: absolute;
    z-index: -5;
    font-size: 14px;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.logo{
    text-decoration: none;
    color: #212121;
}
