.home-page{
    padding: 15px;
    height: calc(100vh - 130px);
    a{
        text-decoration: none;
    }
    .home-btn{
        cursor: pointer;
        padding: 5px;
        border: none;
        background-color: lightblue;
        border-radius: 3px;
        margin: 5px;
    }   
    
    .home-links{
        display: flex;
        gap: 10px;
    }
}