.options-menu {
    display: flex;
    position: absolute;
    transform: translateX(343px);
    border-radius: 3px;
    gap: 10px;
    background-color: rgb(52, 52, 52);
    flex-direction: column;

    button {
        border: none;
        cursor: pointer;
        padding: 10px 30px;
        border-radius: 3px;
        background-color: rgba(52, 52, 52, 0.379);
        color: rgb(231, 231, 231);
    }
}

.dark-options {
    color: black !important;
    background-color: white !important;
}