body{
    margin: 0;
    color: #212121;
    background-color: #f7f7f7;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .dark{
        background-color: #0c80b6 !important
    }
} 

.btn-common{
    border: none;
    font-size: 14px;
    cursor: pointer;
    background-color: #6bc1e9;
    border-radius: 3px;
    padding: 8px;
    &:hover{
        background-color: #58a2c5;
    }
    &:active{
        transform: translateY(2px);
    }
}

.dark{
    background-color: #053f5a !important;
    color: white ;
}